.Kitten {
  display: flex;
  flex-direction: column;
  gap: 6px;
  /* justify-content: flex-start; */
  align-items: flex-start;
  text-decoration: none;
  list-style: none;
}

.Kitten p {
  color: purple;
  display: inline-block;
}
