.Kittens {
  color: limegreen;
  border: 1px solid tomato;
  text-align: center;
  padding: 12px;
  /* font-family: cursive; */

  font-size: 25px;
  gap: 12px;
}

.Kittens li {
  width: 20rem;
  margin: auto;
  margin: "0";
  /* padding: 36px 0 36px 84px; */
  list-style: none;
  text-decoration: none;
  /* border-bottom: dotted; */
}

.CreateLink {
  color: #364a88;
  text-decoration: none;
  position: absolute;
  top: 5rem;
  right: 15rem;
  /* top: -4rem;
  left: 30rem; */
}

.CreateLink:hover {
  cursor: pointer;
  color: tomato;
}
