.Kittens {
  display: flex;
  flex-direction: column;
  color: chocolate;
  border: 1px solid coral;
  border-radius: 12px;
  background-color: beige;
  box-shadow: 55px 55px 55px 55px rgb(135, 162, 135);
  text-align: center;
  padding: 12px;
  /* font-family: cursive; */

  font-size: 25px;
  gap: 12px;
}

.Kittens li {
  width: 20rem;
  margin: auto;
  margin: "0";
  /* padding: 36px 0 36px 84px; */
  list-style: none;
  text-decoration: none;
  /* border-bottom: dotted; */
}

.Holder {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.CreateLink {
  color: limegreen;
  text-decoration: none;
  /* position: absolute;
  top: 5rem;
  right: 15rem; */
}

.CreateLink:hover {
  cursor: pointer;
  color: tomato;
}
