@font-face {
  font-family: "Rajdhani-Medium";
  src: url("../styles/Rajdhani-SemiBold.ttf") format("truetype");
}

.Container {
  width: 50rem;
  padding: 12px;
  margin: auto;
  font-family: "Rajdhani-Medium";
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.App {
  // border: 1px solid tomato;
  color: teal;
  height: 30px;
  font-size: 30px;
  padding: 30px;
}

.InfoBox {
  border: 1px solid tomato;
  text-align: center;
  padding: 12px;
  font-family: cursive;
  font-size: 25px;
}

.FormContainer {
  border: 1px solid tomato;
  color: coral;
  background-color: antiquewhite;
  height: 35rem;

  h3 {
    color: peru;
    text-align: left;
    padding: 12px;
    font-size: 22px;
    margin-left: 12px;
  }
  p {
    font-size: x-large;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 50rem;
    margin: 10px;

    label {
      font-size: 22px;
    }

    input[type="text"] {
      padding: 15px;
      border: none;
      border-radius: 20px;
      outline: 0;
      height: 30px;
      font-size: 20px;
    }

    input[type="submit"] {
      margin-top: 8px;
      padding: 8px 16px;
      border: none;
      border-radius: 20px;
      outline: 0;
      color: violet;
      font-size: large;
      height: 40px;
      width: 160px;
    }

    input[type="password"] {
      padding: 5px;
      border: none;
      border-radius: 20px;
      outline: 0;
      height: 20px;
      width: 14rem;
      font-size: 10px;
      margin-bottom: 12px;
    }
  }
}

.Holder {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 90%;
  gap: 12px;

  h4 {
    text-align: right;
    // color: #2ea44f;
  }

  a {
    text-decoration: none;
    color: lime;
    font-size: x-large;
    font-family: cursive;
  }

  button {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: cursive;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;

    box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
    outline: none;
  }
}
