@font-face {
  font-family: "Rajdhani-Medium";
  src: url("../styles/Rajdhani-SemiBold.ttf") format("truetype");
}

.Container {
  width: 50rem;
  padding: 12px;
  margin: auto;
  font-family: "Rajdhani-Medium";
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.App {
  border: 1px solid tomato;
  color: teal;
}

.InfoBox {
  border: 1px solid tomato;
  text-align: center;
  padding: 12px;
  font-family: cursive;
  font-size: 25px;
}
